.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
  
  .modal-content {
    background-color: #242424;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 600px;
    max-width: 100%;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  input,
  textarea {
    width: 100%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-left: -8px;
  }
  label{
    font-family: "Arial Black", Gadget, sans-serif;
font-size: 13px;
letter-spacing: 3px;
word-spacing: 2.6px;
color: #FFFFFF;
font-weight: 400;
text-decoration: none;
font-style: italic;
font-variant: normal;
text-transform: uppercase;
display: flex;
margin: 3px;
margin-left: -8px;
  }
  .heart-rating > span {
    display: inline-block;
    cursor: pointer;
  }
  
  .heart-rating > span svg {
    font-size: 24px;
    color: #ccc;
  }
  
  .heart-rating > span svg.active {
    color: #30D5C8;
  }